
::-webkit-scrollbar{
  width: 1px;
}

::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background: transparent;
}

.decor{
  background: linear-gradient(45deg , #688AE9,#f06f82);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.colo{
  background-image: linear-gradient(to right,#688AE9, #C66D7B);
  -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: inherit;
}